.App {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: center;

}

.timer {
  width: 800px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-content: flex-start;
}

.timer-content {;
  width: 500px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.work-mode {
  background-color: orangered;
}
.brake-mode {
  background-color: steelblue;
}

.taskForm {
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
}

.taskBlock {
  align-content: flex-start;
}

.btn-start {
  border-radius: .5rem;
}

.task {
  margin: .5rem;
  border: 1px solid #ced4da;
  border-radius: .5rem;
  display: flex;
  justify-content: space-between;
}

.timer-content > div.container {
  border-radius: .5rem;
}