.App {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: center;

}

.timer {
  width: 800px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-content: flex-start;
}

.timer-content {;
  width: 500px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.work-mode {
  background-color: orangered;
}
.brake-mode {
  background-color: steelblue;
}

.taskForm {
  width: 500px;
  margin: 10px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
}

.taskBlock {
  align-content: flex-start;
}

.btn-start {
  border-radius: 5px;
}

.task {
  height: 50px;
  margin: 5px;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.create-task {
  margin: 5px;
}
